:root {
  --theme-color: #4d59c2;
  --text-color: #666;
  --max-width: 1100px;
  --background-color: #fff;

  --error-color: #f45555;

  --theme-color-alpha-darker: #4d59c2ed;
  --theme-color-alpha-dark: #4d59c2aa;
  --theme-color-alpha: #4d59c280;
  --theme-color-alpha-light: #4d59c266;
  --theme-color-alpha-lighter: #4d59c220;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;

  height: 100%;
}

body {
  overflow-y: auto;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--theme-color-alpha-lighter);
}
::-webkit-scrollbar-thumb {
  background: var(--theme-color-alpha);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color-alpha);
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: var(--theme-color-alpha-dark);
}

::selection {
  color: #fff;
  background: var(--theme-color-alpha-dark);
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: var(--theme-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
